---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      class="webfonts"
      href="//arte.folha.uol.com.br/library/folhastyle/3.0/styles/fonts.css"
    />
    <link
      rel="stylesheet"
      href="//arte.folha.uol.com.br/virtual/3.0/arte/article_full-page_style.css"
    />
    <title>{title}</title>
  </head>

  <body class="font-sans">
    <slot />
  </body>
</html>

<style is:global>
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #fff;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background: #0078a4;
    border-radius: 10px;
  }

  :root {
    --swiper-theme-color: #0078a4;
  }

  .text-balance {
    text-wrap: balance;
  }

  .swiper-pagination-bullet-active {
    background-color: #0078a4 !important;
  }

  .deltatable {
    text-wrap: balance;
  }

  .legend {
    display: flex;
    flex-direction: row; /* Alterado para dispor horizontalmente */
    justify-content: flex-start; /* Dispor itens lado a lado */
    align-items: baseline;
    padding: 10px;
    width: 100%; /* Largura total de 100% */
  }

  /* Estilize cada item da legenda */
  .legend-item {
    display: flex;
    flex-direction: column; /* Adicionado para dispor o texto abaixo das cores */
    align-items: center;
    flex: 1;
    /* Espaçamento entre os itens (pode ajustar conforme necessário) */
  }

  .legend-items {
    display: flex;
    flex: 1;
  }

  /* Estilize a cor da legenda */
  .legend-color {
    width: 100%;
    height: 20px;
    margin-bottom: 5px; /* Espaçamento entre a cor e o rótulo */
  }

  /* Estilize o rótulo da legenda */
  .legend-label {
    font-size: 12px;
    text-align: center; /* Centralizar o texto */
    padding-right: 0px;
  }

  [data-status="muitoalto"],
  [data-status="alto"],
  [data-status="medio"],
  [data-status="baixo"],
  [data-status="muitobaixo"],
  [data-status="muito baixo"],
  [data-status="muito alto"],
  [data-status="médio"] {
    font-weight: bold;
    padding: 2%;
    border-radius: 5px;
    line-height: 35px;
    text-wrap: nowrap;
  }

  [data-status="muitoalto"],
  [data-status="muito alto"] {
    background-color: #b44034;
    color: white;
  }

  [data-status="alto"] {
    background-color: #f6b09d;
  }

  [data-status="medio"],
  [data-status="médio"] {
    background-color: #ffebb8;
  }

  [data-status="baixo"] {
    background-color: #88bce7;
  }

  [data-status="muitobaixo"],
  [data-status="muito baixo"] {
    background-color: #004f9f;
    color: white;
  }
</style>
