---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <!--#include virtual="/virtual/3.0/arte/head__embed_head.inc"-->
  </head>

  <body class="font-sans">
    <slot />
  </body>
  <!--#include virtual="/virtual/3.0/arte/footer__script-resize.inc"-->
</html>
<style is:global>
  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #fff;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background: #0078a4;
    border-radius: 10px;
  }

  .deltatable {
    text-wrap: balance;
  }

  [data-status="muitoalto"],
  [data-status="alto"],
  [data-status="medio"],
  [data-status="baixo"],
  [data-status="muitobaixo"] {
    font-weight: bold;
    padding: 2%;
    border-radius: 5px;
    line-height: 35px;
  }

  [data-status="muitoalto"] {
    background-color: #b44034;
    color: white;
  }

  [data-status="alto"] {
    background-color: #f6b09d;
  }

  [data-status="medio"] {
    background-color: #ffebb8;
  }

  [data-status="baixo"] {
    background-color: #88bce7;
  }

  [data-status="muitobaixo"] {
    background-color: #004f9f;
    color: white;
  }
</style>
