---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      class="webfonts"
      href="//arte.folha.uol.com.br/library/folhastyle/3.0/styles/fonts.css"
    />
    <link
      rel="stylesheet"
      href="//arte.folha.uol.com.br/virtual/3.0/arte/article_full-page_style.css"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  .text-balance {
    text-wrap: balance;
  }

  .maplibregl-control-container
    > div.maplibregl-ctrl-bottom-right
    > details:nth-child(2) {
    display: none;
  }

  .maplibregl-ctrl
    .maplibregl-ctrl-attrib
    .maplibregl-compact
    .maplibregl-compact-show {
    display: block !important;
  }

  .vivo {
    background: #0078a4;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 2s infinite;
    animation-delay: 4s, 2s;
  }
  .vivo:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
      box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }

  .swiper-wrapper {
    /* position: fixed !important; */
  }
</style>
